@model Doris.Web.Models.TicketCreationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TicketViewModel</legend>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.Tickets.Name)       
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tickets.Name)
            @Html.ValidationMessageFor(model => model.Tickets.Name)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.Tickets.Text)       
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Tickets.Text)
            @Html.ValidationMessageFor(model => model.Tickets.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.Emails)
        </div>
        <div>
            @Html.EditorFor(model => model.Emails.Address)
            @Html.ValidationMessageFor(model => model.Tickets.Name)
        </div>
        <div>
            <label>Lock ticket</label>          
            @Html.CheckBoxFor(model => model.Tickets.Locked)      
        </div>
        <div>
            @Html.LabelFor(model => model.TicketPriorities)
        </div>
        <div>
           @Html.DropDownListFor(x=>x.Tickets.TicketPriorityId, 
                                 new SelectList(Model.TicketPriorities,"PriorityId","Priority"))       
        </div>
        <p><input type="submit" value="Create" />
        </p>
    </fieldset>
}
